
/* Your CSS Code here. */
.holder{
	display: flex;
/* 	flex-direction:row-reverse;
	flex-wrap:wrap; */
	flex-flow: row-reverse wrap;
	justify-content: space-between;
}
.item{
	width:100px;
	height:100px;
	background:green;
	font-size:45px;
}
.item.one{
	background:red;
}
.item.two{
	background:blue;
}